.common-btn {
  background-color: #111430;
  color: white;
  padding: 8px 30px;
}
.adminBtn {
  background-color: #009444;
  color: white;
  padding: 8px 30px;
  font-weight: 600;
}
.adminBtn:hover {
  background-color: #111430;
  color: white;
}
.brand-text {
  color: #111430;
}
.common-btn:hover {
  background-color: #009444;
  color: white;
}
.active {
  font-weight: 700;
  position: relative;
}

.nav-item {
  font-weight: 600;
}
.nav-link {
  position: relative;
}

.active > .nav-link::before,
.nav-link:hover::before {
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
  position: absolute;
  left: 0;
  display: block;
  background-color: #59af59;
}
.header-bg {
  position: relative;
  margin-bottom: 200px;
}
.header-bg::before {
  content: "";
  width: 100%;
  height: 110vh;
  position: absolute;
  top: -100px;
  right: 0;
  transform: skewY(-3deg);
  background-color: #fbd062;
}
.footer {
  background-color: #fbd062;
}

.services {
  border: 2px solid rgb(240, 235, 235) !important;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}
.services:hover {
  box-shadow: 0px 2px 7px 2px #fbd062;
  /* background-color: #fbd062; */
  transform: scale(1.1);
  border: 2px solid white;
  color: black;
  cursor: pointer;
  z-index: 10;
}
h2 {
  font-weight: 700 !important;
}
/* .card1:hover{
  box-shadow: 10px 10px 51px -13px rgba(0,0,0,0.28);
  transform: scale(1.1);
} */
span {
  color: #7ab259;
}
.works {
  background-color: #111430;
  height: 100vh;
}
.carousel-indicators > li {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.carouselCard {
  color: wheat;
  width: 100;
  height: 400px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback {
  background-color: #e5e5e5;
  height: 100%;
}
.brcpxa {
  background-color: #fbd062 !important;
  box-shadow: none !important;
}
input[type="file"] {
  display: none;
}
.imageUpload {
  background-color: #deffed;
  padding: 5px 10px;
  color: #009444;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #009444;
}

.puff-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-box {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
